# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Generated indexes / data

# Results / outputs
results/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/